@import url('https://fonts.googleapis.com/css2?family=Gamja+Flower&family=Roboto+Mono:wght@300&display=swap');

body{
    background-color: blanchedalmond;
}

.link{
     color: brown;
}
.heading{
    text-align: center;
}

.recipe-heading{
    color: darkblue;
    font-family:'Roboto Mono', monospace;
    font-size: 3rem;
}

.list{
    color: blue;
    font-size: 2rem;
}

.whatever{
    color: blue;
    font-size: 1,5rem;
}

.footer{
    color: blueviolet;
    font-family:'Gamja Flower', sans-serif;
    font-size: 2rem;
    text-align: center   
}